{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid peach-bg extra-fluff">
  <div class="row">
    <h1 class="special-font extra-fluff text-center">{% trans "Sign Up" %}</h1>

    <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>
  </div>

  <div class="row text-center">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="d-grid gap-2 col-3 mx-auto extra-fluff">
        <button class="primaryAction btn btn-warning btn-lg" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
