@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Titillium+Web&display=swap');

body {
    font-family: 'Titillum Web', sans-serif;
}

footer {
    background-color: #776674;
    color:#E2D8EC;

}

#my-stash {
    padding-bottom: 20rem;
}

.special-font {
    font-family: 'Pacifico', sans-serif;
}
.welcome-container {
    height: 100vh;

    background: src( static "css/background.jpg") no-repeat center center fixed;

    background-attachment: local;
}

.welcome {
    background: #F3AC94;
    border-radius: 10px;
    border-style: double;
    border-color: #776674;
}

.base-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.extra-fluff {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.what-is-yarn-guardian {
    background: #E2D8EC;
}

.peach-bg {
    background: #F6D7C0;
}

.frog-color {
    color: #21A48F;
}

.star-color {
    color: #EEEB8B;
}

.note-red {
    color: #F3AC94;
}

.trash-red {
    color: #CA3037;
}


#F6D7C0
#776674
#F3AC94
#E2D8EC
