{% extends "base.html" %}


{% block content %}
<!-- Welcome Page-->
    <div class="welcome-container base-bg ">
        <div class="container text-center extra-fluff welcome">
            <div class="row">
                <div class="col-12">
                        <h1><span class="special-font">Yarn Guardian</span><br>welcomes you!</h1>
                </div>
                {% if user.is_authenticated %}
                <div class="col-12"> You are logged in as <span class="special-font">{{ user.username}}</span></div>
                <div class="container extra-fluff">
                    <div class="row justify-content-center">
                        <h3 class="col-12 extra-fluff special-font">Where to start?</h3>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6">
                            <h4>Add a yarn to your stash here:  
                                <button class="btn btn-warning">
                                    <a class="nav-item nav-link" href="{% url 'get_stash' %}">
                                        Yarns
                                    </a>
                                </button>
                            </h4>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4> Start a New project here: 
                                <button class="btn btn-warning">
                                    <a class="nav-item nav-link" href="{% url 'get_projects' %}">
                                        Projects
                                    </a>
                                </button>
                            </h4>
                        </div>
                    </div>
                </div>
            
                {% else %}
<!-- What is Yarn Guardian-->
                <div>
                    <div class="d-grid gap-2 col-3 mx-auto extra-fluff">
                        <p>Alredy part of the tribe? Log in here:</p>
                        <button type="button" class="btn btn-warning btn-lg"><a class="text-decoration-none text-dark special-font" href="{% url 'account_login' %}">Log In</a></button>
                        <p>Click here to make your account:</p>
                        <button type="button" class="btn btn-light"><a class="text-decoration-none text-dark special-font"href="{% url 'account_signup' %}">Sign Up</a></button>
                    </div>
                </div>
                <div>
                    <hp>Not sure yet? Scroll down to read more!</p>
                        <p><i class="fa-solid fa-arrow-down  fa-2x"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center base-bg extra-fluff what-is-yarn-guardian">
        <div class="row">
            <div class="col-12">
                <h3 class="extra-fluff special-font">What is Yarn Guardian?</h3>
            </div>
            <div>
                <p>Yarn Guardian is a little helper, that helps you keep record of your yarns.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center base-bg extra-fluff how-to-use">
        <div class="row">
            <div class="col-12">
                <h3 class="extra-fluff special-font">What can Yarn Guardian do?</h3>
            </div>
            <div>
                <p><i class="fa-solid fa-plus"></i> You can log a yarn and give it's name, producer, color and material <i class="fa-solid fa-plus"></i></p>
                <p><i class="fa-solid fa-pen"></i> You can make notes too! <i class="fa-solid fa-pen"></i></p>
                <p><i class="fa-solid fa-star"></i> You can tag yarn as a favorite to find it easier <i class="fa-solid fa-star"></i></p>
                <p><i class="fa-solid fa-frog"></i> If you ever have to undo a project you can tag yarn as frogged <i class="fa-solid fa-frog"></i></p>
                <p class="extra-fluff special-font"> And that's not all!</p>
                <p>You can start a new project and keep notes about that as well.<br>You can add an URL to another page to have quick access to a pattern,<br>and tag a yarn you want to use with it (currently only one yarn though).</p>
                <i class="fa-solid fa-frog fa-2x "></i>
            </div>
        </div>
    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}