{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <div>
        <h1>My projects</h1>
        <div class="container">
            <div class="row">
            {% for project in projects %}
                <div class="col-12 col-md-6 col-xl-3 card text-bg-light">
                    <div class="card-body container">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{ project.name }} 
                                    <a href="/edit_project/{{ project.id }}">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    {% if project.finished == True %}
                                    <p><i class="fa-solid fa-check"></i></p>
                                    {% endif %}
                                </h5>
                            </div>
                        </div>
                        <p class="card-text">{{ project.body }}</p>
                        {% if project.yarn == None %}
                        <p>Add a yarn to this project <a href="/edit_project/{{ project.id }}">
                            <i class="fa-solid fa-pen"></i>
                      </a></p>
                        {% else %}
                        <p class="card-text">{{ project.yarn }}</p>
                            {% if yarn.amount == None %}
                            <p class="card-text"> -- g</p>
                            {% else %}
                            <p class="card-text">{{ yarn.amount }}g</p>
                            {% endif %}
                        {% endif %}
                        <p class="card-text">
                            <button class="btn btn-light btn-outline-secondary">
                                <a class="text-decoration-none text-dark" href="{{ project.link }}" target="_blank">Project link <i class="fa-solid fa-arrow-right"></i></a>
                            </button>
                        </p>
                        <a href="/delete_project/{{ project.id }}">
                            <button> <i class="fa-solid fa-trash"></i></button>
                        </a>
                    </div>
                </div>
                {% empty %}
                <div class="row">
                    <td class="red"> You don't have any current projects.</td>
                </div>
                {% endfor %}
            </div>
            <div class="d-grid col-3 mx-auto">
                <button class="btn btn-light btn-outline-secondary btn-lg">
                    <a class="text-decoration-none text-dark" href="/add_project">New Project <i class="fa-solid fa-plus"></i></a>
                </button>
            </div>
        </div>
    </div>

{% else %}
<p>Please login to start using Yarn Guardian!</p>
{% endif %}

{% endblock %}