{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <div>
        <h1>My stash</h1>
        <input class="form-control" id="anythingSearch" type="text" placeholder="Type something to search list items">
        <div class="container">
            <div class="row">
            {% for yarn in yarns %}
                <div class="col-12 col-md-6 col-xl-3 card text-bg-light" id="myDIV">
                    {% if yarn.amount == 0 %}
                    <div class="card-body text-bg-secondary">
                    {% else %}
                    <div class="card-body">
                    {% endif %}
                        <p class="card-header">{{ yarn.producer }}</p>
                        <h5 class="card-title">{{ yarn.name }} <a href="/edit_yarn/{{ yarn.id }}">
                              <i class="fa-solid fa-pen">  </i>
                        </a></h5>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" 
                            data-toggle="modal" data-target="#yarnModal" data-yarn-name="{{ yarn.name }}" data-yarn-body="{{ yarn.body }}">
                                Notes
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="yarnModal" tabindex="-1" role="dialog" aria-labelledby="yarnModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="yarnModalLabel">Yarn notes</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>

                        <p class="card-text">{{ yarn.color_group }}</p>
                        <p class="card-text">{{ yarn.material }}</p>

                        {% if yarn.amount == None %}
                        <p class="card-text"> -- g</p>
                        {% else %}
                        <p class="card-text">{{ yarn.amount }}g</p>
                        {% endif %}

                        {% if yarn.favorite == True %}
                        <p><i class="fa-solid fa-star"></i></p>
                        {% endif %}

                        {% if yarn.frogged == True %}
                        <p><i class="fa-solid fa-frog"></i></p>
                        {% endif %}
                        
                        <a href="/delete_yarn/{{ yarn.id }}">
                            <button>Delete</button>
                        </a>
                    </div>
                </div>
            {% empty %}
            <tr>
                <td class="red"> Your stash is empty.</td>
            </tr>
            {% endfor %}
            </div>
        </div>
        <a href="/add_yarn">Add a new Yarn</a>
    </div>

{% else %}
    <p>Please login to start using Yarn Guardian!</p>
{% endif %}

{% endblock %}