{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <div>
        <h1>My stash</h1>

        <div class="container">
            <div class="row">
            {% for yarn in yarns %}
                <div class="col-12 col-md-6 col-xl-3 card text-bg-light">
                    <div class="card-body">
                        <p class="card-header">{{ yarn.producer }}</p>
                        <h5 class="card-title">{{ yarn.name }}</h5>
                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Read more
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ yarn.name }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <p>{{ yarn.body }}{{ yarn.producer }}{{ yarn.name }}</p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <p class="card-text">{{ yarn.color }}</p>

                        <p class="card-text">{{ yarn.material }}</p>
                        <p class="card-text">{{ yarn.amount }}g</p>
                        <p>{{ yarn.favorite }}</p>
                        <a href="/edit_yarn/{{ yarn.id }}">
                            <button>Edit</button>
                        </a>
                        <a href="/delete_yarn/{{ yarn.id }}">
                            <button>Delete</button>
                        </a>
                    </div>
                </div>
            {% empty %}
            <tr>
                <td class="red"> Your stash is empty.</td>
            </tr>
            {% endfor %}
            </div>
        </div>
        <a href="/add_yarn">Add a new Yarn</a>
    </div>

{% else %}
<p>Please login to start using Yarn Guardian!</p>
{% endif %}

{% endblock %}